body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  input, button {
    margin: 4px;
    padding: 6px;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
  }
  
  .card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    padding: 20px;
    margin-bottom: 20px;
  }

  
  button:hover {
    background-color: #0041cc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #e0e0e0;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
  }
  

  body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
  }
  
  button {
    background-color: #3b79f5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0041cc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #e0e0e0;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    max-width: 10px;   /* максимальная ширина ячейки */
    word-wrap: break-word; /* перенос длинного текста на новую строку */
    padding: 4px 8px;      /* уменьшаем отступы внутри ячейки */
  }

  h1 {
    margin-left: 20px;
    color: #2c2c2c;
  }

  table {
    border-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

header {
  background-color: #d2d2d2;
  background-color: #d2d2d2;
  height: 100px;
  display: flex;          /* включаем Flexbox */
  align-items: center;    /* вертикальное центрирование */
}